html, body {
  background-color: $black;
  box-sizing: border-box;
  color: $black;
  font: normal 125%/1.6 $bodyFont; // usually 20px
  height: 100%;
  padding: 0;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 90%
}

a {
  &:link,
  &:visited {
    color: $purple;
  }

  &:active,
  &:focus,
  &:hover {
    color: $yellow;
  }
}

body {
  font-size: rem(18px);
  position: relative;
}

nav .menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}