:root {
  --default-body-border: 5vw;
  --default-body-border-radius: 3px;
}

html, body {
  background-color: $black;
  box-sizing: border-box;
  color: $black;
  font: normal 125%/1.6 $bodyFont; // usually 20px
  height: 100%;
  padding: 0;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  &:link,
  &:visited {
    color: $purple;
  }

  &:active,
  &:focus,
  &:hover {
    color: $yellow;
  }
}

body {
  font-size: rem(18px);
  position: relative;
}

nav .menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sticky-footer-wrap {
  border: var(--default-body-border) solid $black;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto  1fr auto;
  
  & > * {
    background-color: $white;
  }
  
  .banner {
    border-top-left-radius: var(--default-body-border-radius);
    border-top-right-radius: var(--default-body-border-radius);
  }
  
  .site-footer {
    border-bottom-left-radius: var(--default-body-border-radius);
    border-bottom-right-radius: var(--default-body-border-radius);
  }
}

body.admin-bar  .sticky-footer-wrap {
    border-top-width: calc(46px + var(--default-body-border));
  
  @include adminBarBreakpoint() {
    border-top-width: calc(32px + var(--default-body-border));
  }
}